<h1>...<%= session['user']%> Rocks!!!!!</h1>

	<form action="/intro" method="get">
	  <input type='submit' value='register your name'>
	</form>

	<form action="/still" method="get">
	  <input type='submit' value='keep playing'>
	 </form>

	<form action="/bye" method="get">
	  <input type='submit' value='remove your name'>
	</form>
