<html>
<body>
	<h1><%= session['user']%> Rocks!!!!!</h1>

	<form action="/intro" method="get">
	  <input type='submit' value='click here to register your name'>
	</form>

	<form action="/bye" method="get">
	  <input type='submit' value='click here to remove your name'>
	</form>
</body>
</html>