<html>
<body>
	<!-- <h1><%= session['user'] %> Rocks!!!!!</h1> -->

	<form action="/intro" method="post">
	  <input type='text' name='player'>
	  <input type='submit' value='new game'>
	</form>
</body>
</html>