<html>
<body>
	<h1>Gosh, still here <%= session['user']%>?</h1>
	<h2>(on the third page)</h2>

	<form action="/bye" method="get">
	  <input type='submit' value='click here to exit'>
	</form>
</body>
</html>