<html>
<body>
	<h1>And here you still are, <%= session['user']%>!</h1>
	<h2>(on the second page)</h2>

	<form action="/still_here" method="get">
	  <input type='submit' value='click here to carry on'>
	</form>
</body>
</html>